/* ------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------- */
*,
*::before,
*::after {
    margin:0;
    padding:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* ------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------- */
.row {
    max-width: 1140px;
    margin:0 auto;
}


body {
    
    /*font-family: 'Shadows Into Light', cursive; 
    font-family: 'Caveat', cursive; */
    min-height: 100%;
    
    /* says the height of the body must be, at minimum, 100% of the window */
    
}

.container {
    padding: 25px;
    min-height: 100%;
    font-size: 18px;
}

/* ------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/exercise-female.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

/* -------- Navigation ---------- */
.ttd-Imgheader{
    width: 100%;
    text-align: center;
}
.ttd-Navbar {
    border-bottom: 2px solid #4c4c4c;
    display: flex;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 150%;
  }

.ttd-Navbar__Link-brand:link,
.ttd-Navbar__Link-brand:visited {
    font-size: 200%;
    text-decoration: none;
    color:#fff;
}

.ttd-Navbar__Link-brand:hover,
.ttd-Navbar__Link-brand:active {
    color:#42f46e;
}

.ttd-Navbar__Link a:link,
.ttd-Navbar__Link a:visited {
    padding-right: 45px;
    text-decoration: none;
    color:#fff;
  }

.ttd-Navbar__Link a:link, 
.ttd-Navbar__Link a:visited {
    text-decoration: none;
    color: #fff;
}

.ttd-Navbar__Link a:hover,
.ttd-Navbar__Link a:active {
    color:#42f46e;
}

.ttd-Navbar__Items {
    display: flex;
  }

.ttd-Navbar__Items--right {
    margin-left:auto;
  }

.ttd-Navbar__Link-toggle {
    display: none;
  }


/* -------------- Footer styles ---------------*/

footer {
    width: 100%;
    height: 150px;
    padding: 30px;
    position: absolute;
    bottom: 0;
}

.social-icons {
    float: right;
    padding: 0 20px 20px 0;
}

#social {
    border-top: 10px solid #4285f4;
}

#social li {
    display: inline-block;
}

#social li img {
    width: 64px;
    height: 64px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
    /* reflection is supported by webkit only */
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
}

#social li:hover img {
    -webkit-transform: scale(2);
    margin: 0 2em;
    border: 0.1px solid red;
    border-radius: 5.5px;
    background-color: #4285f4;
    background-clip: inherit;
}

#social li:hover+li img,
#social li.prev img {
    -webkit-transform: scale(1.5);
    margin: 0 1.5em;
}

.rotate {
    transform: rotate(90deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}

.rotate-initial {
    transform: rotate(0deg);
    transition: .3s;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/* -------- Styles for tablet size devices ---------- */

@media only screen and (max-width: 768px) {
    html {
        font-size: 120%;
    }
    /* -------- navigation styles ---------- */
    .ttd-Navbar__Items,
    .ttd-Navbar {
      flex-direction: column;
    }

    .ttd-Navbar__Link {
        padding-bottom: 10px;
        padding-right: 8px;
      }

    .ttd-Navbar__Items {
        display: none;
    }

    .ttd-Navbar__Items--right {
        margin-left: 0;
      }
    
    .ttd-Navbar__ToggleShow {
        display: flex;
      }
    
    .ttd-Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    
}


/* -------- Styles for mobiles ---------- */

@media only screen and (max-width: 600px) {
    html {
        font-size: 112%;
    }
    /* -------- navigation styles ---------- */
    
    /* -------------- Footer styles ---------------*/
    footer {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        padding: 10px;
    }
    .social-icons {
        float: none;
        margin: 0 auto;
    }
}